@charset "UTF-8";
:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --accent-text-color: #ffffff;
  --primary-bg-color: #e5e5e5;
  --secondary-bg-color: #f5f4fa;
  --accent-bg-color: #2f303a;
  --border-header-color: #ececec;
  --border-card-color: #eeeeee;
  --social-links-color: #afb1b8;
  --timing-variable-but-cl: #188ce8;
  --timing-variable: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.footer-contacts__list, .team__list, .clients__list, .site-nav, .example__list, .products-section__list, .soclinks-list, .filter {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-contacts__adress, .footer-contacts__link, .footer-contacts__list, .site-nav__link, .site-nav__link--current, .products-section__description, .logo {
  text-decoration: none;
  font-style: normal;
  margin: 0;
  padding: 0;
}

.team__text, .team__subtitle, .team__title, .clients__title, .example__text, .example__title, .feature__text, .feature__subtitle, .modal__feedtext {
  margin-top: 0;
  margin-bottom: 0;
}

.example__text, .feature__icon, .subscribe-form__button, .soclinks-list__icon, .soclinks-list__link, .soclinks-list, .modal-form__accepting, .modal-form__submit, .modal__button {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  background-color: var(--accent-text-color);
  font-size: 14px;
  letter-spacing: 0.03em;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.logo {
  display: flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 25px;
  color: var(--primary-text-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.footer__logo {
  color: var(--accent-text-color);
  padding-bottom: 0;
}

.logo__accent {
  color: var(--accent-color);
}

/*modalka*/
.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 528px;
  min-height: 581px;
  background: var(--accent-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background: transparent;
  cursor: pointer;
}
.modal__button:focus .modal__close {
  fill: var(--accent-color);
}

.modal__close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal__feedtext {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--primary-text-color);
}

.modal-form__label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
  position: relative;
}
.modal-form__label:focus-within > .modal-form__icon, .modal-form__label:hover > .modal-form__icon {
  fill: var(--accent-color);
}
.modal-form__label .modal-form__input:focus {
  border-color: var(--accent-color);
}

.modal-form__label textarea {
  width: 100%;
  min-height: 120px;
  resize: none;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  margin-bottom: 20px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__label textarea::-moz-placeholder {
  font-size: 12px;
  line-height: 1.17px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__label textarea:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__label textarea::placeholder {
  font-size: 12px;
  line-height: 1.17px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__terms {
  font-family: inherit;
  line-height: 1.71;
  color: var(--secondary-text-color);
  color: var(--accent-color);
  text-decoration: underline;
}

.modal-form__submit {
  min-width: 200px;
  height: 100%;
  padding: 10px 55px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--accent-text-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__submit:hover, .modal-form__submit:focus {
  color: var(--accent-text-color);
  background-color: var(--accent-color);
  cursor: pointer;
}

.modal-form__accepting {
  font-family: inherit;
  line-height: 1.71;
  color: var(--secondary-text-color);
}

.modal-form__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.modal-form__checkbox:checked + .modal-form__check {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.modal-form__check {
  position: absolute;
  left: 51.5px;
  background-origin: border-box;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__box {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid var(--primary-text-color);
  margin-right: 8px;
}

.modal-form__input {
  width: 448px;
  min-height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 42px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__icon {
  position: absolute;
  top: 15px;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__icon:hover, .modal-form__icon:focus {
  background-color: var(--accent-colo);
}
.modal-form__icon .modal-form__label textarea:focus,
.modal-form__icon .modal-form__label textarea:hover {
  border-color: var(--accent-color);
}

.filter {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.filter__button {
  display: inline-block;
  padding: 6px 22px;
  margin-right: 8px;
  border: none;
  border-radius: 4px;
  color: var(--primary-text-color);
  background-color: var(--secondary-bg-color);
  border-color: var(--secondary-bg-color);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  text-align: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.filter__button:hover, .filter__button:focus {
  color: var(--accent-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.soclinks-list__link {
  width: 44px;
  height: 44px;
  border: 0;
  border-radius: 50%;
  color: var(--social-links-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.soclinks-list__link:hover, .soclinks-list__link:focus {
  background-color: var(--accent-color);
  color: var(--accent-text-color);
}

.soclinks-list__link--invers {
  color: var(--accent-text-color);
  background: rgba(255, 255, 255, 0.1);
}

.soclinks-list__icon {
  fill: currentColor;
}

.soclinks-list__item:not(:last-child) {
  margin-right: 10px;
}

.products-section__par {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.88;
}

.products-section__title {
  margin-bottom: 4px;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.products-section__list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  gap: 30px;
}

.products-section__card {
  width: calc((100% - 60px) / 3);
}
.products-section__card:hover .products-section__overlay {
  transform: translateY(0);
}

.products-section__description {
  display: block;
  padding-left: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--border-card-color);
  border-left: 1px solid var(--border-card-color);
  border-right: 1px solid var(--border-card-color);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.products-section__description:hover, .products-section__description:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.products-section__link {
  display: block;
}

.products-section__wrapper {
  position: relative;
  overflow: hidden;
}

.products-section__text {
  font-size: 18px;
  line-height: 1.56;
  color: var(--accent-text-color);
}

.products-section__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  padding: 63px 24px;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*форма у футері */
.subscribe-form__field {
  display: flex;
}

.subscribe-form__text {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--accent-text-color);
}

.subscribe-form__lable {
  display: flex;
}

.subscribe-form__input {
  width: 358px;
  font-family: inherit;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  background-color: var(--accent-bg-color);
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
.subscribe-form__input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe-form__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe-form__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-form__button {
  min-width: 200px;
  height: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 12px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--accent-text-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-form__button:hover, .subscribe-form__button:focus {
  color: var(--accent-text-color);
  background-color: var(--accent-color);
}

.subscribe-form__send {
  margin-left: 10px;
}

/* Шапка сторінки */
.header__container {
  display: flex;
  align-items: center;
}

.header {
  background-color: var(--background-color);
  outline: 1px solid #ececec;
}

/* Навігація на інші сторінки */
.nav {
  display: flex;
  align-items: center;
}

.nav__list {
  display: flex;
  margin-left: 93px;
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.page-header {
  display: flex;
  border-bottom: 1px solid var(--border-header-color);
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;
}

.page-header__nav {
  display: flex;
  gap: 93px;
}

.header-links {
  display: flex;
  padding-right: 0;
  padding-left: 0;
  margin-left: auto;
  align-items: center;
}

.header-links__link {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;
  color: var(--secondary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-links__link:hover, .header-links__link:focus {
  fill: var(--timing-variable-but-cl);
}

.header-links__item + .header-links__item {
  margin-left: 50px;
}

.header-links__icon {
  margin-right: 10px;
  fill: currentColor;
}

.feature__list {
  display: flex;
  gap: 30px;
  list-style: none;
}

.feature__subtitle {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
}

.feature__icon {
  min-height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  background-color: var(--secondary-bg-color);
}

.feature__text {
  line-height: 1.71;
  color: var(--secondary-text-color);
}

/* Секція Герой */
.hero {
  background-color: var(--accent-bg-color);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero__title {
  margin-bottom: 30px;
  max-width: 696px;
  color: var(--accent-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/*Фон Герой*/
.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/img-hero/img-fon-hero.webp"), url("../images/img-hero/img-fon-hero.jpg");
}

.hero__button {
  display: inline-block;
  padding: 10px 32px;
  color: var(--accent-text-color);
  background-color: var(--accent-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}
.hero__button:hover, .hero__button:focus {
  color: var(--accent-text-color);
  background-color: var(--accent-color);
}

.example {
  padding-top: 0px;
}

.example__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}

.example__list {
  display: flex;
  gap: 30px;
}

.example__text {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--accent-text-color);
}

.example__thumb::before {
  content: "";
  width: 100%;
  height: 70px;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(47, 48, 58, 0.8);
}

.example__item {
  position: relative;
}

.site-nav {
  display: flex;
  padding-left: 0;
}

.site-nav__item {
  margin-right: 50px;
  position: relative;
}
.site-nav__item:last-child {
  margin-right: 0;
}

.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav__link:hover, .site-nav__link:focus {
  color: var(--accent-color);
}
.site-nav__link--current {
  color: var(--accent-color);
}
.site-nav__link--current::after {
  position: absolute;
  display: block;
  content: "";
  bottom: -1px;
  left: 0;
  height: 4px;
  width: 100%;
  background-color: var(--accent-color);
  border-radius: 2px;
}
/* Cекція Постійні клієнти */
.clients__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--primary-text-color);
}

.clients__list {
  display: flex;
  gap: 30px;
}

.clients__link {
  display: flex;
  width: 170px;
  height: 92px;
  border-radius: 4px;
  border: 1px solid var(--social-links-color);
  align-items: center;
  justify-content: center;
  color: var(--social-links-color);
  border-color: var(--social-links-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.clients__icon {
  fill: currentColor;
}

.clients-item:not(:last-child) {
  margin-right: 30px;
}

/* Секція Наша команда */
.team {
  background-color: var(--secondary-bg-color);
}

.team__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  margin-bottom: 50px;
  text-align: center;
}

.team__card {
  background-color: var(--accent-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 30px;
}

.team__subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  text-align: center;
  margin-top: 30px;
}

.team__text {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 16px;
}

.team__list {
  display: flex;
  gap: 30px;
}

/* Підвал */
.footer {
  background-color: var(--accent-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__wrapper {
  display: flex;
  align-items: baseline;
}

.footer-contacts__list {
  display: block;
  padding-left: 0;
  margin-top: 20px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contacts__link {
  display: block;
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.71;
  margin-top: 9px;
}
.footer-contacts__link:hover, .footer-contacts__link:focus {
  color: var(--accent-color);
}

.footer-contacts__adress {
  color: var(--accent-text-color);
  line-height: 1.71;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-contacts__adress:hover {
  color: var(--accent-text-color);
}

.join {
  align-items: center;
  margin-left: 70px;
  margin-right: 93px;
}

.join__title {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--accent-text-color);
  margin-bottom: 20px;
}/*# sourceMappingURL=main.css.map */