.products-section__par {
	color: var(--secondary-text-color);
	font-size: 16px;
	line-height: 1.88;
}

.products-section__title {
	margin-bottom: 4px;
	color: var(--primary-text-color);
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
}

.products-section__list {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	gap: 30px;
	@extend %ul;
}

.products-section__card {
	width: calc((100% - 60px) / 3);

	&:hover .products-section__overlay {
		transform: translateY(0);
	}
}

.products-section__description {
	display: block;
	padding-left: 24px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid var(--border-card-color);
	border-left: 1px solid var(--border-card-color);
	border-right: 1px solid var(--border-card-color);
	transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
	@extend %a;

	&:hover,
	&:focus {
		box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
	}
}

.products-section__link {
	display: block;
}

.products-section__wrapper {
	position: relative;
	overflow: hidden;
}

.products-section__text {
	font-size: 18px;
	line-height: 1.56;
	color: var(--accent-text-color);
}

.products-section__overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	padding: 63px 24px;
	background: rgba(33, 150, 243, 0.9);
	transform: translateY(100%);
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
