/*форма у футері */
.subscribe-form__field {
	display: flex;
}

.subscribe-form__text {
	margin-bottom: 20px;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;
	color: $accent-text-color;
}

.subscribe-form__lable {
	display: flex;
}

.subscribe-form__input {
	width: 358px;
	font-family: inherit;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 16px;
	background-color: $accent-bg-color;
	color: rgba(255, 255, 255, 0.6);
	border: 1px solid rgba(255, 255, 255, 0.3);
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
	border-radius: 4px;

	&::placeholder {
		font-size: 16px;
		line-height: 1.25;
		letter-spacing: 0.03em;
		color: rgba(255, 255, 255, 0.6);
	}
}

.subscribe-form__button {
	@extend %centeredFlex;
	min-width: 200px;
	height: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 12px;
	font-family: inherit;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	letter-spacing: 0.06em;
	color: $accent-text-color;
	background: $accent-color;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	border-color: transparent;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);

	&:hover,
	&:focus {
		color: $accent-text-color;
		background-color: $accent-color;
		cursor: pointer;
	}
}

.subscribe-form__send {
	margin-left: 10px;
}
