img {
	display: block;
	max-width: 100%;
	height: auto;
}

body {
	color: $primary-text-color;
	font-family: "Roboto", sans-serif;
	background-color: $accent-text-color;
	font-size: 14px;
	letter-spacing: 0.03em;
}

.container {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
}

.section {
	padding-top: 94px;
	padding-bottom: 94px;
}
