%list {
	list-style: none;
	margin: 0;
	padding: 0;
}

%link {
	text-decoration: none;
	font-style: normal;
	margin: 0;
	padding: 0;
}

%removeMargin {
	margin-top: 0;
	margin-bottom: 0;
}

%centeredFlex {
	display: flex;
	justify-content: center;
	align-items: center;
}
