:root {
	--primary-text-color: #212121;
	--secondary-text-color: #757575;
	--accent-color: #2196f3;
	--accent-text-color: #ffffff;
	--primary-bg-color: #e5e5e5;
	--secondary-bg-color: #f5f4fa;
	--accent-bg-color: #2f303a;
	--border-header-color: #ececec;
	--border-card-color: #eeeeee;
	--social-links-color: #afb1b8;
}
