.cards-set {
    display: flex;
    flex-wrap: wrap;

    &__list { 
      margin-right: 30px; 
      margin-bottom: 30px;
      flex-basis: calc((100% - var(--indent) * var(--items)) / var(--items));
      margin: calc(var(--indent) / 2);
      transition: 250ms var(--timing-variable);
      cursor: pointer;
  }

  &__list:hover,
  &__list:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 
      0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    
      transition: 250ms var(--timing-variable);
  } 
 
  &__item { position: relative;
      overflow: hidden;

  &__link {
    display: block;
    position: relative;
    overflow: hidden;
  &__link:hover,
  &__link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    cursor: pointer;

    transition-duration: 250ms var(--timing-variable);
    &__item{
      position: relative;
      overflow: hidden;
    }

  
  
  
  &__description {
    font-size: 18px;
    line-height: 1.56;
    padding: 63px 24px;
  
    letter-spacing: 0.03em;
    color: var(--light-txt-cl);
    background: rgba(33, 150, 243, 0.9);
  
}

&__border {	padding: 20px 24px;
	border: 1px solid var(--color-border-porfolio);
	border-top: none;;}

&__title {color: var(--dark-txt-cl);  
  font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
	margin-bottom: 4px;
	color: var(--dark-txt-cl);

&__text { font-family: inherit; 
	font-weight: 400;
	font-size: 16px;
	line-height: 1.88;
	color: var(--gray-txt-cl);
  }

  .cards-set__list{
    flex-basis: calc((100% - var(--csrd-set-gap) * 3) / 3);
    margin: var(--csrd-set-marg);
  }

  .cards-set__list:hover .card-overlay
  .cards-set__list:focus .card-overlay
     { 
      transform: translateY(0%);
    }} 

  }   


.card-overlay{
  position: absolute;
	top: 0;
	left: 0;

	transform: translateY(100%);

	display: flex;
	align-items: center;
	justify-content: center;

	transition: transform 250ms var(--timing-variable);
}}}}