.feature__list {
	display: flex;
	gap: 30px;
	list-style: none;
}

.feature__subtitle {
	margin-bottom: 10px;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: $primary-text-color;
	@extend %removeMargin;
}

.feature__icon {
	min-height: 120px;
	border-radius: 4px;
	margin-bottom: 30px;
	background-color: $secondary-bg-color;
	@extend %centeredFlex;
}

.feature__text {
	line-height: 1.71;
	color: $secondary-text-color;
	@extend %removeMargin;
}
