/* Підвал */
.footer {
	background-color: $accent-bg-color;
	padding-top: 60px;
	padding-bottom: 60px;
}

.footer__wrapper {
	display: flex;
	align-items: baseline;
}

.footer-contacts__list {
	display: block;
	padding-left: 0;
	margin-top: 20px;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	@extend %ul;
	@extend %a;
}

.footer-contacts__link {
	display: block;
	color: rgba(255, 255, 255, 0.6);
	line-height: 1.71;
	margin-top: 9px;
	&:hover,
	&:focus {
		color: $accent-color;
	}
	@extend %a;
}

.footer-contacts__adress {
	color: $accent-text-color;
	line-height: 1.71;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

	&:hover {
		color: $accent-color;
	}
	@extend %a;
}

.join {
	align-items: center;
	margin-left: 70px;
	margin-right: 93px;
}

.join__title {
	font-weight: 700;
	line-height: 1.14;
	text-transform: uppercase;
	color: $accent-text-color;
	margin-bottom: 20px;
}
