.logo-web {
	font-family: var(--secondary-font);
	font-weight: 700;
	color: var(--accent-txt-cl);
	font-size: 26px;
	line-height: 1.2px;
	padding-top: 24px;
	padding-bottom: 25px;
}

.logo {
	font-family: var(--secondary-font);
	font-weight: 400;
	color: var(--black-txt-cl);
}

.footer span {
	color: var(--light-txt-cl);
}
