.site-nav {
	display: flex;
	padding-left: 0;

	@extend %list;
}

.site-nav__item {
	margin-right: 50px;
	position: relative;

	&:last-child {
		margin-right: 0;
	}
}

.site-nav__link {
	display: block;
	padding-top: 32px;
	padding-bottom: 32px;

	color: var(--primary-text-color);

	font-weight: 500;
	line-height: 1.14;
	letter-spacing: 0.02em;

	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

	&:hover,
	&:focus {
		color: var(--accent-color);
	}

	&--current {
		color: var(--accent-color);
	}

	&--current::after {
		position: absolute;
		display: block;
		content: "";
		bottom: -1px;
		left: 0;
		height: 4px;
		width: 100%;
		background-color: var(--accent-color);
		border-radius: 2px;
	}

	&--current {
		@extend %link;
	}

	@extend %link;
}
