/* Секція Наша команда */
.team {
	background-color: $secondary-bg-color;
}

.team__title {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.17;
	margin-bottom: 50px;
	text-align: center;
	@extend %removeMargin;
}

.team__card {
	background-color: var(--accent-text-color);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
	padding-bottom: 30px;
}

.team__subtitle {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.17;
	text-align: center;
	margin-top: 30px;
	@extend %removeMargin;
}

.team__text {
	color: var(--secondary-text-color);
	font-size: 16px;
	line-height: 1.19;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 16px;
	@extend %removeMargin;
}

.team__list {
	display: flex;
	gap: 30px;
	@extend %ul;
}
